<div class="row">
    <div class="col-md-12">
        <table class="table user-table">
            <thead>
                <tr>
                    <th>
                        <span>Name</span>
                    </th>
                    <th>
                        <span>Email</span>
                    </th>
                    <th>
                        <span>Phone</span>
                    </th>
                    <th>
                        <span>Website</span>
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>
                        <span>{{user.name}}</span>
                    </td>
                    <td>
                        <span>{{user.email}}</span>
                    </td>
                    <td>
                        <span>{{user.phone}}</span>
                    </td>
                    <td>
                        <a [href]="'http://' + user.website" target="_blank">{{user.website}}</a>
                    </td>
                    <td>
                        <!--<div class="table-icons">-->
                            <!--<span class="glyphicon glyphicon-pencil"></span>-->
                            <!--<span class="glyphicon glyphicon-remove-circle"></span>-->
                        <!--</div>-->
                        <a [routerLink]="['/view', user.id]">Details</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
