<div class="row">
    <div class="col-md-12">
        <h2 class="username">{{user.name}}</h2>
        <p><strong>Username: </strong>{{user.username}}</p>
        <p><strong>Email: </strong>{{user.email}}</p>
        <p><strong>Address: </strong>
            <a [href]="user.address.geo.getMapLink()"
                target="_blank">
                {{user.address.getFullAddress()}}
            </a>
        </p>
        <p><strong>Phone: </strong>{{user.phone}}</p>
        <p><strong>Website: </strong><a [href]="'http://' + user.website" target="_blank">{{user.website}}</a></p>
        <p><strong>Company: </strong>{{user.company.getCompanyInfo()}}</p>
    </div>
</div>
<div class="row mb20">
    <div class="col-md-3">
        <button class="form-control btn add-button edit" routerLink="edit">Edit</button>
    </div>
</div>
<div class="row">
    <router-outlet></router-outlet>
</div>
